<div class="article--numbered">
    <div class="article--numbered__image-container">
      <img src="./assets/images/image-retro-pcs.jpg" alt="A picture of retro computer">
    </div>
    <div class="article--numbered__content">
      <span class="color-accent-200 fs-700 fw-bold">01</span>
      <a href="#" class="link link--text color-accent-500 fw-bold">Reviving retro PC's</a>
      <span class="fs-300 color-accent-400 line-height" style="--line-height: 1.75;">What happens when old PCs are given modern upgrades?</span>
    </div>
  </div>

  <div class="article--numbered">
    <div class="article--numbered__image-container">
      <img src="./assets/images/image-top-laptops.jpg" alt="A picture of keyboard">
    </div>
    <div class="article--numbered__content">
      <span class="color-accent-200 fs-700 fw-bold">02</span>
      <a href="#" class="link link--text color-accent-500 fw-bold">Top 10 Laptops of 2022</a>
      <span class="fs-300 color-accent-400 line-height" style="--line-height: 1.75;">Our best picks for various needs and budgets.</span>
    </div>
  </div>

  <div class="article--numbered">
    <div class="article--numbered__image-container">
      <img src="./assets/images/image-retro-pcs.jpg" alt="A picture of retro computer">
    </div>
    <div class="article--numbered__content">
      <span class="color-accent-200 fs-700 fw-bold">03</span>
      <a href="#" class="link link--text color-accent-500 fw-bold">The Growth of Gaming</a>
      <span class="fs-300 color-accent-400 line-height" style="--line-height: 1.75;">How the pandemic has sparked fresh opportunities.</span>
    </div>
  </div>