<div class="container-sm article--new">
    <h3 class="article__heading fs-500 color-accent-100">
      <a href="#" class="link link--text">Hydrogen VS Electric Cars</a>
    </h3>
    <p class="article__content fs-300 color-accent-200">Will hydrogen-fueled cars ever catch up to EVs?</p>
  </div>
  <div class="container-sm article--new">
    <h3 class="article__heading fs-500 color-accent-100">
      <a href="#" class="link link--text">The Downsides of AI Artistry</a>
    </h3>
    <p class="article__content fs-300 color-accent-200">What are the possible adverse effects of on-demand AI image generation?</p>
  </div>

  <div class="container-sm article--new">
    <h3 class="article__heading fs-500 color-accent-100">
      <a href="#" class="link link--text">Is VC Funding Drying Up?</a>
    </h3>
    <p class="article__content fs-300 color-accent-200">Private funding by VC firms is down 50% YOY. We take a look at what that means.</p>
  </div>


  <!-- Articles -->


  <div class="container-md article--new-container bg-accent-500">
    <h2 class="article__new-header color-primary-400 fs-700">New</h2>
    <div class="article--new">
      <h3 class="article__heading fs-500 color-accent-100">
        <a href="#" class="link link--text">Hydrogen VS Electric Cars</a>
      </h3>
      <p class="article__content fs-300 color-accent-200">Will hydrogen-fueled cars ever catch up to EVs?</p>
    </div>
    <div class="article--new">
      <h3 class="article__heading fs-500 color-accent-100">
        <a href="#" class="link link--text">The Downsides of AI Artistry</a>
      </h3>
      <p class="article__content fs-300 color-accent-200">What are the possible adverse effects of on-demand AI image generation?</p>
    </div>
    <div class="article--new">
      <h3 class="article__heading fs-500 color-accent-100">
        <a href="#" class="link link--text">Is VC Funding Drying Up?</a>
      </h3>
      <p class="article__content fs-300 color-accent-200">Private funding by VC firms is down 50% YOY. We take a look at what that means.</p>
    </div>
  </div>