<a href="#" class="link link--icon icon--burger"></a>

<div class="container mobile-menu" style="--padding: 1rem;">
  <a href="#" class="link link--icon icon--close"></a>
  <ul class="list">
    <li class="list__item">
      <a href="#" class="link link--text color-accent-300 fs-500">Home</a>
    </li>
    <li class="list__item">
      <a href="#" class="link link--text color-accent-300 fs-500">New</a>
    </li>
    <li class="list__item">
      <a href="#" class="link link--text color-accent-300 fs-500">Popular</a>
    </li>
    <li class="list__item">
      <a href="#" class="link link--text color-accent-300 fs-500">Trending</a>
    </li>
    <li class="list__item">
      <a href="#" class="link link--text color-accent-300 fs-500">Categories</a>
    </li>
  </ul>
</div>