<nav class="nav flex">
    <a href="#" class="link link--icon icon--brand"></a>
    <ul class="list list--inline">
      <li class="list__item">
        <a href="#" class="link link--text color-accent-400 fs-400">Home</a>
      </li>
      <li class="list__item">
        <a href="#" class="link link--text color-accent-400 fs-400">New</a>
      </li>
      <li class="list__item">
        <a href="#" class="link link--text color-accent-400 fs-400">Popular</a>
      </li>
      <li class="list__item">
        <a href="#" class="link link--text color-accent-400 fs-400">Trending</a>
      </li>
      <li class="list__item">
        <a href="#" class="link link--text color-accent-400 fs-400">Categories</a>
      </li>
    </ul>
    <a href="#" class="link link--icon icon--burger"></a>
  </nav>